html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("https://cdn.corporatefinanceinstitute.com/assets/shadow-banking-system-1024x683.jpeg");
}

/* navbar css starts here  */
.bg-light{
    background-color: black;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: black;
}

.nav-link{
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f1;
}
/* navbar css ends here  */
